arabic-reshaper
asgiref
asn1crypto
certifi
cffi
chardet
charset-normalizer
click
coverage
cryptography
cssselect2
Django==2.0.4
django-admin-list-filter-dropdown
django-ckeditor
django-easy-select2
django-js-asset
django-rest-framework
django-rest-multiple-models
django-smart-selects
djangorestframework
docopt
exceptiongroup
freetype-py
html5lib
idna
iniconfig
lxml
num2words
oscrypto
packaging
pillow
pluggy
psycopg
psycopg2-binary
pycairo
pycparser
pyHanko
pyhanko-certvalidator
pyOpenSSL
pypdf
pypng
pytest
pytest-cov
python-bidi
python-dateutil
pytz
PyYAML
qrcode
reportlab
requester
requests
rlPyCairo
scapy
six
sqlparse
svglib
tinycss2
tomli
typing_extensions
tzlocal
uritools
urllib3
webencodings
xhtml2pdf
xlwt
